<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.namlu.podlistenerapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".FindPodcastActivity"
            android:label="@string/find_podcast_name">
        </activity>
        <activity
            android:name=".AddPodcastActivity"
            android:label="@string/add_podcast_name">
        </activity>
        <activity android:name=".DownloadedPodcastActivity"
                  android:label="@string/downloaded_podcast_name">
        </activity>
    </application>

</manifest>